<footer class="site-footer">
    <div id=page-size>Page Size: <span id="size-value"> $PLACEHOLDER</span></div>
    <div id=back-to-top><a id="" href="#top" title="Back to top"> ↑ </a></div>
    <div class="dashboard">
        <ul class="grid">
            <li>
            <h2>
                <a href="{{ relURL "/" }}">{{ .Site.Title }}</a>
            </h2>
            </li>
            <li>
                <p style="word-break: break-all;">
                    &copy; {{ .Site.Params.Author }} <br> {{ .Site.Params.SanitizedMail }}
                </p>
            </li>
            <li>
                Any opinions expressed on this site are my own.
            </li>
            <li>
                {{ if .IsHome }}
                    Site last built on: <br> {{ time.Now.UTC.Format "02 Jan 2006, 15:04 MST" }}
                {{ else }}
                    {{ with .GitInfo }}
                        {{ .AuthorDate.UTC.Format "02 Jan 2006, 15:04 MST" }} <br>
                        {{ .AbbreviatedHash }} <br>
                        {{ .Subject }}
                    {{ end }}
                {{ end }}
            </li>
        </ul>
    </div>
</footer>
